body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  justify-content: center;
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

nav {
  display: flex;
  background-color: #bd030e;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

nav a {
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  margin-right: 50px;
  color: black;
}

#logo {
  height: 60%;
  width: auto;
  margin-left: 50px;
}

.space {
  display: flex;
  align-content: center;
  justify-content: center;
}

.frame {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 70%;
  justify-self: center;
  align-items: center;
  background-color: transparent;
}
.titles {
  flex-direction: column;
}

.frame h2 {
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 6em;
  line-height: 90px;

  color: #bd030e;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pbox {
  width: 70%;
  position: absolute;
  right: 0;
  background-color: rgba(196, 196, 196, 0.22);
  justify-self: center;
}

.pbox p {
  position: static;
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 36px;
  text-align: right;
  margin: 20px 20px 20px 90px;
}
.pbox.inactive {
  display: none;
}
h2.inactive {
  color: #b1b1b1;
}

.mypic img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.socialMedia {
  position: fixed;
  padding: 20px;
  bottom: 0;
  right: 0;
}

.socialMedia img {
  width: 45px;
  height: 45px;
}
